$firstSector_color: green;
$secondSector_color: red;
$thirdSector_color: blue;
$fourthSector_color: yellow;

$primaryColor: #BC9CFF;
$darkShadeColor: #1f2041;
$gradientColor: #8BA4F9;

$text_primary: transparentize($darkShadeColor, 0.25);

$softErrorText: rgb(250, 98, 255);